
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
@layer base{
  html {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
  }
}

.fade-out {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.flex {
  display: flex;
  flex-wrap: wrap;
  
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.size-20 {
  width: 90px;
  height: 90px;
}
.size-18{
  width: 81px;
  height:;
}

